

// Style the Cols
    div.row {
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        .ad {
            border-right: solid black;
            #first-col {
                border-top: black solid;
            }
            #last-col {
                border-bottom: solid black;
            }
        }
        .info {
            border: black solid;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-radius: 15px;
            background-color: rgba(100, 216, 237, 0.342);
        }
    }
    img {
        float: left;
        margin-right: 1rem;
    }