html {
    width: 100%;
    height: 100%;
}
body {
    background: url(../../../media/bigstock-Sun-Rays-On-Sunset-Sky-With-Bl-379334437.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
header {
    display: block;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 30vw;
}

#Min {
    div.row {
        margin-top: 1rem;
        margin-bottom: 1rem;

        .ad {
            border-right: solid black;
            #first-col {
                border-top: black solid;
            }
            #last-col {
                border-bottom: solid black;
            }
        }
        .info {
            border: black solid;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-radius: 15px;
            background-color: rgba(100, 216, 237, 0.342);
        }
    }
    img {
        float: left;
        margin-right: 1rem;
    }
}

.navbar-brand {
    img {
        width: 75px;
        height: 75px;
    }
}

.navbar-nav li a {
    font-size: 1.5rem;
    margin: 0 5vw;
}

.slogan {
    padding-left: 10px;
}

.border {
    border: 15px solid orange;
    border-radius: 10px;
    background-color: rgba(100, 216, 237, 0.342);
}

.row {
    text-align: center;
}
h1 {
    display: block;
    margin: auto;
}
::-webkit-scrollbar {
    color: transparent;
}
::-webkit-scrollbar-thumb {
    color: grey;
}
.wholeContainer {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    height: 30vw;
    justify-content: center;

    #container {
        overflow-y: scroll;
        display: block;
        position: relative;
        transition: ease-in-out all 0.5s;
        transform: rotate(-90deg);
        height: 100vw;
        width: fit-content;
        margin: -35vw auto;

        .box {
            transform: rotate(90deg);
            width: 25vw;
            height: 25vw;
            border: 1px solid black;
            border-radius: 2px;
            background-color: rgb(77, 213, 255);
            opacity: 0.7;
            padding: 5px;
            transition: all 0.3s ease-in-out;
            margin: 20px;
            &:hover {
                opacity: 1;
            }
        }
    }
}
// // for mobile
// border: 1px solid black;
//         border-right: 0px;
//         border-left: 0px;

// function to move postion left link graph on page to scroll
@media screen and (max-width: 900px) {
    .wholeContainer {
        height: 100%;
        width: 100%;
        transform: rotate(90deg);
        margin-top: 40vw;
        #container {
            height: 100%;
            .box {
                transform: rotate(0deg);
                width: 89vw;
                height: 89vw;
                background: rgb(77, 213, 255);
                opacity: 1;
                border-radius: 7px;
            }
        }
    }
    header {
        margin-top: 10px;
        width: 75vw;
    }

    .graphs {
        display: none;
    }
}

.graphContainer{
    background-color: rgba(241, 243, 244, 0.836);
    
    margin: 40px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 15px black;
    
  }