html {
    height: 100%;
    overflow-x: hidden;
}
body {
    background: url(../../../media/sunset-sky-1464251934sde.jpg);
    background-attachment: fixed;
}
header {
    
    display: block;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    width: 25vw;
    background-color: blanchedalmond;
}

#Min {
    div.row {
        margin-top: 1rem;
        margin-bottom: 1rem;

        .ad {
            border-right: solid black;
            #first-col {
                border-top: black solid;
            }
            #last-col {
                border-bottom: solid black;
            }
        }
        .info {
            border: black solid;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-radius: 15px;
            background-color: rgba(100, 216, 237, 0.342);
        }
    }
    img {
        float: left;
        margin-right: 1rem;
    }
}

.navbar-brand {
    img {
        width: 75px;
        height: 75px;
    }
}

.navbar-nav li a {
    font-size: 1.5rem;
    margin: 0 5vw;
}

.slogan {
    padding-left: 10px;
}

.border {
    border: 15px solid orange;
    border-radius: 10px;
    background-color: rgba(100, 216, 237, 0.342);
}

.row {
    text-align: center;
}
h1 {
    display: block;
    margin: auto;
}

svg {
    align-self: center;
    width: 30px;
    height: 30px;
}
.card {
    margin: 0, 0, 0, 0;
}
.wholeContainer {
    display: grid;
    width: 100vw;
    grid-template-columns: 75px auto 75px;
    grid-template-rows: 17vw;
    margin: 25px 0;
}
.container {
    overflow: visible;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    gap: 10px;
    position: absolute;
    padding: 0px;
    right: auto;
    .box {
        width: 17vw;
        height: 17vw;
        border: 1px solid black;
        padding: 0;
        border-radius: 5px;
        background-color: blanchedalmond;
        padding: 10px;
    }
}
.button {
    background-color: #0dcaf0;
    border-radius: 50%;
    outline: none;
    border: 0;
    width: 60px;
    height: 60px;
    z-index: 20;
    margin: auto;
    justify-content: center;
    opacity: 10%;
    transition: all 0.5s ease-out;
    &:hover {
        opacity: 100%;
    }
}
.forward {
    grid-column: 3/4;
}
.back {
    grid-column: 1/2;
}

// // for mobile
// border: 1px solid black;
//         border-right: 0px;
//         border-left: 0px;

// function to move postion left link graph on page to scroll
@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        width: 90%;
        .box {
            width: 90%;
            height: 46vh;
            margin: auto;
            justify-content: center;
        }
    }
    #container{
        position: absolute;
        right: 15px;
        left: 15px;
    }
    header {
        margin-top: 10px;
        width: 75vw;
    }
    .wholeContainer {
        display: block;
        button {
            display: none;
        }
    }
    .graphs {
        display: none;
    }
}
